
JavaScriptAndObjectiveC/JavaScriptAndObjectiveC.xcodeproj/project.xcworkspace/xcuserdata/channe.xcuserdatad/UserInterfaceState.xcuserstate

*.xcscmblueprint

*.xcuserstate

*.xcbkptlist

JavaScriptAndObjectiveC/JavaScriptAndObjectiveC.xcodeproj/xcuserdata/channe.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

JavaScriptAndObjectiveC/JavaScriptAndObjectiveC.xcodeproj/project.xcworkspace/xcuserdata/channe.xcuserdatad/UserInterfaceState.xcuserstate
